{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid py-4">

      <div class="row">
        <h6>Qualidade do ar agora<agora></agora></h6>
        {% for ar in lista_qualidade_ar %}
          <div class="col-xl-3 col-sm-6 mb-xl-2 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div>
                    <p class="text-mb mb-2 text-capitalize font-weight-bold">{{ ar.nome }}</p>
                    <h6 class="font-weight-bolder mb-0">
                      {% if ar.qualidade == 'N1 - BOA' %}
                          <span class="text-success text-sm font-weight-bolder">Qualidade do ar: {{ar.qualidade}}</span>
                      {% else %}
                          <span class="text-warning text-sm font-weight-bolder">Qualidade do ar: {{ar.qualidade}}</span>
                      {% endif %}
                    </h6>
                    <h6>
                      <span class="text-sm text-capitalize font-weight-light">Data: {{ar.data}}</span>
                    </h6>


                  </div>
                </div>
                <div class="col-4 text-end">
                  {% if ar.qualidade == 'N1 - BOA' %}
                      <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-md">
                        <i class="ni ni-check-bold text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                  {% else %}
                      <div class="icon icon-shape bg-gradient-warning shadow text-center border-radius-md">
                        <i class="ni ni-fat-remove text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row mt-1">
        <div class="col-lg-12 mb-lg-0 mb-4">
          <div class="card z-index-2">
            <div class="card-body p-3">
              <h6>
                Detalhes
              </h6>
              <div class="border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                  <canvas id="chart-bars" class="chart-canvas" height="100"></canvas>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block scripts %}

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script>

   const ctx = document.getElementById('chart-bars');
   console.log('carregando gráfico');
    var datasets = []
    {% for detalhe_geral in detalhes %}
    var nome = ''
    var labels = []
    var lista_indices = []
      {% for d in detalhe_geral %}
        console.log('d', '{{d.nome}}');
        console.log('d', '{{d.indice}}');
        console.log('d', '{{d.data}}');
        nome = '{{d.nome}}'
        lista_indices.push('{{d.indice}}')
        labels.push('{{d.data}}')
      {% endfor %}
      console.log('random start');
      var random = Math.floor(Math.random() * 256);
      var random2 = Math.floor(Math.random() * 256);
      var random3 = Math.floor(Math.random() * 256);
      console.log('random', random);
      var customDataset = { label: nome,
                      data: lista_indices,
                      fill: false,
                      borderColor: 'rgb(' + random + ',' + random2 +', ' + random3  +')',
                      tension: 0.1  }
      datasets.push(customDataset)
    {% endfor %}
    console.log('plotando gráfico labels: ', labels);
    console.log('plotando gráfico datasets: ', datasets);

    new Chart(ctx, {
      type: 'line',
      data: {
            labels: labels,
            datasets: datasets
          },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

{% endblock scripts %}
